/**
 * Mixins available globally throughout the theme.
 */

/**
 * Overrides the color of an existing triangle created by Foundation's css-triangle().
 *
 * This is handy for menus where it's necessary to override the arrow color for
 * differnt states (hover/current/parent hover/etc) because using css-triangle()
 * over and over generates a lot of redundant styles.
 *
 * @param {Color} $triangle-color - Color of the triangle.
 * @param {Keyword} $triangle-direction - Direction the triangle points. Can be `up`, `right`, `down`, or `left`.
 */
@mixin css-triangle-color( $triangle-color, $triangle-direction ) {
  @if ($triangle-direction == down) {
    border-color: $triangle-color transparent transparent;
  }
  @if ($triangle-direction == up) {
    border-color: transparent transparent $triangle-color;
  }
  @if ($triangle-direction == right) {
    border-color: transparent transparent transparent $triangle-color;
  }
  @if ($triangle-direction == left) {
    border-color: transparent $triangle-color transparent transparent;
  }
}

/**
 * Selection prevention placeholder. Intended to be used to prevent
 * UI elements from being accidentally selected.
 * ----------------------------------------------------------------------------
 */
%prevent-selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}
