/**
 * Styles that help with accessibility
 * ----------------------------------------------------------------------------
 */
 
// https://make.wordpress.org/accessibility/2015/02/09/hiding-text-for-screen-readers-with-wordpress-core/
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	position: absolute !important;
	overflow: hidden;
	width: 1px;
	word-wrap: normal !important;
}

.logged-in .site-page .skip-link {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  font-family: "Open Sans", sans-serif;
}

.site-page .skip-link {
  background-color: #f1f1f1;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #21759b;
  display: block;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 700;
  left: -9999em;
  outline: none;
  padding: 15px 23px 14px;
  text-decoration: none;
  text-transform: none;
  top: -9999em;
	
	&:focus {
		clip: auto !important;
		display: block;
		height: auto;
		left: 5px;
		top: 5px;
		width: auto;
		z-index: 100000; // Above WP toolbar.
	}
}
