/**
 * Editor Style
 *
 * These styles apply only to the WP Editor.
 * The front end's main stylesheet will also be loaded to avoid having to compile
 * and enqueue a separate duplicated stylesheet. 
 *
 * @see http://codex.wordpress.org/Function_Reference/add_editor_style
 * ----------------------------------------------------------------------------
 */
 
 

// For editor styles
html.grid-x {
	// Note: Not sure this is needed with xy grid.
	height: auto !important;
}

// TinyMCE overrides
body#tinymce.wp-editor {

	// Override Foundation's height: 100%; because WP Editor in 4.0+ won't scroll down all of the way otherwise.
	// Note: Not sure this is needed with xy grid.
	height: auto !important;

	// WP <= 3.9 TinyMCE added an unwanted underline to cite elements.
	cite {
		border-bottom: none;
	}

	&.entry-content {
	//	margin: rem-calc(16);
	}
}