/**
 * WP Editor Styles
 *
 * These particular styles are intended to apply only to the WP Editor.
 *
 * The front end's entire stylesheet will be loaded to avoid having to compile
 * and enqueue a separate duplicate stylesheet. 
 *
 * @see http://codex.wordpress.org/Function_Reference/add_editor_style
 * ----------------------------------------------------------------------------
 */

// TinyMCE overrides
body#tinymce.wp-editor {
	/**
	 * Limit body width based on template selected
	 */
	// Narrow content width and sidebar layouts
	// Posts
	&.post-type-page.page-template-default, // Posts use the narrow width template by default. See single.php.
	&.page-template-tpl-single-post-narrow,
	&.page-template-tpl-single-post-sidebar-left,
	&.page-template-tpl-single-post-sidebar-right,
	// Pages
	&.post-type-post.page-template-default, // Pages use the narrow width template by default. See page.php.
	&.page-template-tpl-page-narrow,
	&.page-template-tpl-page-sidebar-left,
	&.page-template-tpl-page-sidebar-right {
		max-width: rem-calc(780);
	}
	
	// Standard (wide) content width
	&.page-template-tpl-single-post,
	&.page-template-tpl-page {
		max-width: rem-calc(1170);	
	}
	
	// Full content width
	&.page-template-tpl-single-post-full-width,
	&.page-template-tpl-page-full-width {
		// max-width: 100%; // 
	}
	
	&.entry-content {
		margin: rem-calc(20);
	}
	
	// Override Foundation's height: 100%; because WP Editor in 4.0+ won't scroll down all of the way otherwise.
	// Note: Does not seem to be needed anymore.
	// height: auto !important;	
}


/**
 * Custom class added to TinyMCE's HTML tag.
 * @see assets/source/js/tinymce-editor-style.js
 */
html.custom-class {}
