/**
 * This file contains the default layouts used by the theme.
 * ----------------------------------------------------------------------------
 */
 
// Contain main content within a narrow grid cell on larger screens.
.layout-content-narrow {
	@include xy-grid-container();
	
	.layout-grid {
		@include xy-grid();
		// Fix gutters being too large.
		// https://foundation.zurb.com/forum/posts/54127-i-cant-reproduce-simple-xy-grid-with-mixins
		// https://github.com/zurb/foundation-sites/issues/10141#issuecomment-327820806		
		@include xy-gutters($negative: true);
		
		@include breakpoint(medium) {
			justify-content: center;
		}		

		.layout-primary {
			@include xy-cell(12);
			
			@include breakpoint(medium) {
				@include xy-cell(9);
			}		
			
			@include breakpoint(large) {
				@include xy-cell(8);
			}			
		}
	}
}

// Contain content within a wide cell on larger screens.
.layout-content-wide {
	@include xy-grid-container();
	
	.layout-grid {
		@include xy-grid();
		@include xy-gutters($negative: true); // Fix gutter too large on small breakpoint.
		
		@include breakpoint(medium) {
			justify-content: center;
		}		

		.layout-primary {
			@include xy-cell(12);		
		}
	}
}

// Full width content that spans from edge to edge of all screens.
.layout-content-full-width {
	.layout-grid {
		@include xy-grid();
	}
}

// Content on the left, sidebar on the right.
// Content above sidebar on smaller screens.
.layout-content-sidebar {
	@include xy-grid-container();

	.layout-grid {
		@include xy-grid();
		@include xy-gutters($negative: true); // Fix gutter too large on small breakpoint.

		.layout-primary {
			@include xy-cell(12);

			@include breakpoint(large) {
				@include xy-cell(9);
			}			
		}

		.layout-secondary {
			@include xy-grid-collapse();
			@include xy-cell(12);
			
			@include breakpoint(large) {
				@include xy-cell(3);
			}			
		}
	}
}

// Content on the right, sidebar on the left.
// Content above sidebar on smaller screens.
.layout-sidebar-content {
	@include xy-grid-container;

	.layout-grid {
		@include xy-grid();
		@include xy-gutters($negative: true); // Fix gutter too large on small breakpoint.
		
		.layout-primary {
			@include xy-cell(12);

			@include breakpoint(large) {
				@include xy-cell(9);
				@include flex-order(1);
			}			
		}

		.layout-secondary {
			@include xy-cell(12);
			
			@include breakpoint(large) {
				@include xy-cell(3);
				@include flex-order(0);
			}			
		}
	}
}

// Layout for the single attachment image template.
.layout-image {
	@include xy-grid-container();
	
	.layout-grid {
		@include xy-grid();
		@include xy-gutters($negative: true); // Fix gutter too large on small breakpoint.
		
		@include breakpoint(medium) {
			justify-content: center;
		}		

		.layout-primary {
			@include xy-cell(12);
			
			@include breakpoint(medium) {
				@include xy-cell(9);
			}		
			
			@include breakpoint(large) {
				@include xy-cell(7);
			}			
		}
	}
}
