/**
 * This file contains the default layouts used by the theme.
 * ----------------------------------------------------------------------------
 */

/**
 * Narrow Layout
 * 
 * Most areas of the page are displayed in a narrow grid cell
 * on medium and large screens. 
 */ 
.layout-grid-narrow {
	//.featured-image, // keep at full grid width
	.entry-title,
	.entry-meta-primary,
	.entry-meta-secondary,
	.entry-sticky-message,
	.entry-content,
	.entry-comments,
	.archive-header,
	//.pagination-archive-links, // keep at full grid width
	//.pagination-archive-numbers, // keep at full grid width
	.pagination-single {
		&.grid-container {
				
			@include breakpoint(medium) {
				.grid-x > .small-12 {
					width: 75%;
				}
			}
			
			@include breakpoint(large) {
				.grid-x > .small-12 {
					width: 66.66667%;
				}
			}			
		}
	}
}

// Style overrides for no results search page when narrow
// grid template is used for archive pages.
.search-no-results .layout-grid-narrow .archive-header {
	&.grid-container .grid-x {
		justify-content: normal;
	}
}

/**
 * Sidebar Layouts
 * 
 */
// Remove horizonatal padding from grid-container
.layout-content-sidebar.grid-container,
.layout-sidebar-content.grid-container {
	padding-right: 0;
	padding-left: 0;
}
