/**
 * Navigation styles
 * 
 */

// Activate WP Dropdown Nav.
.hermi-dropdown-nav {
	@include hermi-dropdown-nav();
}

// Activate menu icons.
.menu li[class*=icon] {
	@include hermi-navicon();
}

// Use default cursor for menu items without a link.
.menu {
	a:not( [href] ) {
		cursor: default;
	}
}

// Basic navigation styles
.wp-dropdown-menu-top-bar {
	height: rem-calc(48);
}

.top-bar {
	@include breakpoint(medium) {
		margin-bottom: rem-calc(20);
	}
}
