/**
 * Navigation styles
 * 
 */

// Activate WP Dropdown Nav.
.hermi-dropdown-nav {
	@include hermi-dropdown-nav();
}

// Activate Navicons.
.menu li[class*=icon] {
	@include hermi-navicon();
}

// Use default cursor for menu items without a link.
.menu {
	a:not( [href] ) {
		cursor: default;
	}
}

// Aligns regular menu items with menu icons
.foundation-dropdown {
	li.menu-item {
		display: flex;
		align-items: center;
	}
}

// Add some basic default styling.

.wp-dropdown-menu-top-bar {
	height: 3rem;
}

.top-bar {
	@include breakpoint(medium) {
		margin-bottom: rem-calc(20);
	}
}
