/**
 * This is a copy of hermi/assets/source/scss/third-party/socicon-sass
 * It uses only a limited set of icons to reduce file size.
 */

.socicon-mixcloud:before {
  content: "\e001";
}
.socicon-twitter:before {
  content: "\e040";
}
.socicon-facebook:before {
  content: "\e041";
}
.socicon-flickr:before {
  content: "\e055";
}
.socicon-500px:before {
  content: "\e056";
}
.socicon-wordpress:before {
  content: "\e058";
}
.socicon-tumblr:before {
  content: "\e059";
}
.socicon-twitch:before {
  content: "\e05a";
}
.socicon-youtube:before {
  content: "\e051";
}
.socicon-vimeo:before {
  content: "\e052";
}
.socicon-soundcloud:before {
  content: "\e04d";
}
.socicon-spotify:before {
  content: "\e04e";
}
.socicon-snapchat:before {
  content: "\e03f";
}
.socicon-instagram:before {
  content: "\e057";
}