/**
 * Widget styles
 * ----------------------------------------------------------------------------
 */
 
/**
 * Base Widget Styles
 * ----------------------------------------------------------------------------
 */
.widget-container {
	list-style: none;
	padding-bottom: rem-calc(40);
	word-wrap: break-word;

	li {
		margin: rem-calc(4 16);
		list-style-type: disc;
	}

	iframe {
		width: 100%;
		min-height: rem-calc(200);
	}
}


/**
 * Calendar Widget fixes
 * ----------------------------------------------------------------------------
 */
.widget_calendar {
	table {
		border-collapse: collapse;
	}
	
	tfoot #next {
		text-align: right;
	}
}


/**
 * Nav Menu Widget fixes
 * ----------------------------------------------------------------------------
 */
.widget_nav_menu {
	// Fix Foundation messing up WP nav menus due to class name collisions on ".menu".
	.menu {
		@extend .vertical;
		margin-left: rem-calc(20);

		& > li > a {
			display: inline-block;
		}
	}
	
	.menu-item a {
		padding: 0;
	}
}

/**
 * RSS Widget
 * ----------------------------------------------------------------------------
 */
.widget_rss {
	.widget-title > .rsswidget:first-child {
		@include hermi-icon( '\e0e5', 'Material Icons', '2rem' );
		
		&:before {
			top: rem-calc(5);
			position: relative;
		}
		
		img {
			display: none;
		}
	}
}
