/**
 * This file contains settings which can be used by Foundation and/or a theme.
 * 
 * This file is loaded before Foundation and the rest of the theme so it will
 * not be able to use mixins/variables/etc defined in Foundation or the theme!
 * ----------------------------------------------------------------------------
 */
 