/**
 * Styles for demo content.
 */
 
// Material Icons demo page
.material-icons-demo { display: flex; flex-wrap: wrap; }
.material-icons-demo li { list-style: none; margin: 0 30px 30px 0; width: 200px; }
.material-icons-demo li span { display: flex; }
.material-icons-demo li span:before { margin-right: 10px; }


// Foundation demos
.demo-foundation {
	.cell {
		background: #1779ba;
		line-height: 50px;
		height: 50px;
		color: white;
		text-align: center;
		margin-bottom: 30px;
	}
	
	.cell:nth-child(odd) {
		background: #37a0e6;
	}
}

.docs-transitions {
  max-width: 400px;	
}

.docs-transition-demo {
  @include thumbnail;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  backface-visibility: hidden;
}

@include mui-series {
  #series-example-1 {
    @include mui-queue(0.5s, 0s, fade, slide(in, up));
  }

  #series-example-2 {
    @include mui-queue(0.5s, 0.5s, fade, spin);
  }

  #series-example-3 {
    @include mui-queue(0.5s, 0s, fade, hinge(in, bottom));
  }
}

// Socicons
// (Experimental)
#chart {
  overflow: hidden;
  color: #FFFFFF;
  margin-bottom: 1em;
}
#chart .SmugMug-icon,
#chart .Snapchat-icon,
#chart .Apple-icon {
  color: #212121;
}
#chart .icons {
  width: 23%;
  margin: 0 1% 1% 0;
  background: #424242;
  box-sizing: border-box;
  transition: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  position: relative;
}
#chart .icons:hover .socicon {
  text-shadow: 0 5px 0 #212121;
}
#chart .socicon {
  font-size: 5em;
  text-align: center;
  font-family: "socicon" !important;
  transition: all 0.2s ease-in-out;
}
#chart span {
  display: block;
}
#chart .icon {
  position: relative;
  padding: 1em 0 0 0;
}
#chart .infos {
  font-size: 0.9em;
  text-align: center;
  padding-bottom: 1em;
}
#chart .infos .unicode {
  text-transform: lowercase;
  display: inline-block;
}
#chart .infos .color {
  display: inline-block;
}
#chart .name {
  margin: 1em 0 0.5em 0;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
#chart .character {
  font-weight: 300;
}