/**
 * Styles for demo content.
 */
 
// Material Icons demo page.
.material-design-icon-demo li {
	list-style: none;
}

// Styling for foundation demos.
.demo-foundation {
	.cell {
		background: #1779ba;
		line-height: 50px;
		height: 50px;
		color: white;
		text-align: center;
		margin-bottom: 30px;
	}
	
	.cell:nth-child(odd) {
		background: #37a0e6;
	}
}

.docs-transitions {
  max-width: 400px;	
}

.docs-transition-demo {
  @include thumbnail;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  backface-visibility: hidden;
}

@include mui-series {
  #series-example-1 {
    @include mui-queue(0.5s, 0s, fade, slide(in, up));
  }

  #series-example-2 {
    @include mui-queue(0.5s, 0.5s, fade, spin);
  }

  #series-example-3 {
    @include mui-queue(0.5s, 0s, fade, hinge(in, bottom));
  }
}
