/**
 * Sass file for running quick tests.
 */
 
.test-text { color: cyan; }
.test-text { color: orange; }
// * { color: cyan; }

//* { font-family: 'Bungee Inline'; }
//p { font-family: 'Montserrat' !important; }
